<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://blockchain.info/Resources/js/pay-now-button.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
       <div id="header">
        <nav>
          {% if site.show_downloads %}
		    <!--<li class="downloads"><a href="https://money.yandex.ru/bill/pay/WHt3qQC6Hcs.191016"><img src="/assets/images/dn.png" width="62" height="20"/></a></li>-->
			<!--<li class="downloads"><a href="https://discord.gg/Vyw8cVN"><img src="/assets/images/dc.png" width="62" height="20"/></a></li>-->
			<!--<li class="downloads"><a href="https://steamcommunity.com/profiles/76561198017988277"><img src="/assets/images/st.png" width="62" height="20"/></a></li>-->
			<!--<li class="downloads"><a href="https://www.youtube.com/channel/UCCjgivnEXTz7vLE4n894Wsg"><img src="/assets/images/yt.png" width="62" height="20"/></a></li>-->
            <li class="title">[ This design definitely sucks. Contact me via email - <b><u>nknwn.project@gmail.com</u></b> - if you wish to support that kind of stuff. ]</li>
          {% endif %}
       </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
		  <a href="https://discord.gg/Vyw8cVN">[ DisCord ]</a>
		  <table cellPadding="0" cellSpacing="0"><tr><td><div style="padding:0.6em;background-color:#232322;border:1px solid #ffff00;border-radius:7px">
          <form action="https://yoomoney.ru/quickpay/confirm.xml" method="post"><input type="hidden" name="receiver" value="41001263743821"/>
            <input name="sum" width="640" value="100"/><input type="hidden" name="origin" value="button"/><input type="hidden" name="quickpay-form" value="small"/>
            <input type="hidden" name="targets" value="Support unknownproject"/><input type="hidden" name="comment" value="Voluntary donation"/>
	        <input type="hidden" name="need-fio" value="false">
            <input type="hidden" name="need-email" value="true">
            <input type="hidden" name="need-phone" value="false">
            <input type="hidden" name="need-address" value="false">
	        <label><input type="radio" name="paymentType" value="PC">YooMoney</label>
            <label><input type="radio" name="paymentType" value="AC">Bank Card</label>
	        <label><input type="radio" name="paymentType" value="MC">Mob. Phone</label>
            <input type="submit" width="640" value="Support the project"/>
	      </form></div></td></tr>
</table>

          <hr>

        {{ content }}
		  <span class="credits left">2019 - 3019 (c) <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span>
          <span class="credits right">Copyright material used under fair use for research and improvement purposes.</span>		
		</div>
      </section>
	  </div>
    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
